################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Synthesis/RuleRepair/obj/Debug
/Synthesis/packages
/Synthesis/RuleRepair/bin/Debug
/Synthesis/Output-Build.txt
/Synthesis/RuleRepair/obj/Release
/Synthesis/RuleRepair/bin/Release
